<template>

    <template if:true={resultArray}>
        
        <template if:true={isCountryMode}>
            
            <table class="slds-table slds-max-medium-table_stacked">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="slds-size_1-of-5" scope="col">
                            <div class="slds-truncate" title="Question #">Question #</div>
                        </th>
                        <th class="slds-size_1-of-5" scope="col">
                            <div class="slds-truncate" title="Flag">Flag</div>
                        </th>
                        <th class="slds-size_1-of-5" scope="col">
                            <div class="slds-truncate" title="Correct Answer">Correct Answer</div>
                        </th>
                        <th class="slds-size_1-of-5" scope="col">
                            <div class="slds-truncate" title="Your Answer">Your Answer</div>
                        </th>
                        <th class="slds-size_1-of-5" scope="col">
                            <div class="slds-truncate" title="Result">Result</div>
                        </th>
                    </tr>
                </thead>
                <template for:each={resultArray} for:item="resultRow">
                    <tbody key={resultRow.country}>
                        <tr class="slds-hint-parent">
                            <td data-label="#">
                                <div class="slds-truncate" title="Question #">Question {resultRow.number}</div>
                            </td>
                            <td data-label="Flag">
                                <div class="slds-truncate" title="Flag">
                                    <img src={resultRow.imageUrl} alt="Flag image" width="48px" class="shade"/>
                                </div>
                            </td>
                            <td data-label="Correct Answer">
                                <div class="slds-truncate" title="Correct Answer">{resultRow.correctAnswer}</div>
                            </td>
                            <td data-label="Your Answer">
                                <div class="slds-truncate" title="Your Answer">{resultRow.userAnswer}</div>
                            </td>
                            <template if:true={resultRow.isCorrect}>
                                <td data-label="Result">
                                    <div class="slds-truncate" title="Flag">
                                        <img src={greenTick} alt="Flag image" width="32px"/>
                                    </div>
                                </td>
                            </template>
                            <template if:false={resultRow.isCorrect}>
                                <td data-label="Result">
                                    <div class="slds-truncate" title="Flag">
                                        <img src={redCross} alt="Flag image" width="32px"/>
                                    </div>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                </template>
            </table>
        </template>

        <template if:false={isCountryMode}>
            <table class="slds-table slds-max-medium-table_stacked">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="slds-size_1-of-6" scope="col">
                            <div class="slds-truncate" title="Question #">Question #</div>
                        </th>
                        <th class="slds-size_1-of-6" scope="col">
                            <div class="slds-truncate" title="Flag">Flag</div>
                        </th>
                        <th class="slds-size_1-of-6" scope="col">
                            <div class="slds-truncate" title="Country">Country</div>
                        </th>
                        <th class="slds-size_1-of-6" scope="col">
                            <div class="slds-truncate" title="Correct Answer">Correct Answer</div>
                        </th>
                        <th class="slds-size_1-of-6" scope="col">
                            <div class="slds-truncate" title="Your Answer">Your Answer</div>
                        </th>
                        <th class="slds-size_1-of-6" scope="col">
                            <div class="slds-truncate" title="Result">Result</div>
                        </th>
                    </tr>
                </thead>
                <template for:each={resultArray} for:item="resultRow">
                    <tbody key={resultRow.country}>
                        <tr class="slds-hint-parent">
                            <td data-label="#">
                                <div class="slds-truncate" title="Question #">Question {resultRow.number}</div>
                            </td>
                            <td data-label="Flag">
                                <div class="slds-truncate" title="Flag">
                                    <img src={resultRow.imageUrl} alt="Flag image" width="48px" class="shade"/>
                                </div>
                            </td>
                            <td data-label="Country">
                                <div class="slds-truncate" title="Country">{resultRow.country}</div>
                            </td>
                            <td data-label="Correct Answer">
                                <div class="slds-truncate" title="Correct Answer">{resultRow.correctAnswer}</div>
                            </td>
                            <td data-label="Your Answer">
                                <div class="slds-truncate" title="Your Answer">{resultRow.userAnswer}</div>
                            </td>
                            <template if:true={resultRow.isCorrect}>
                                <td data-label="Result">
                                    <div class="slds-truncate" title="Flag">
                                        <img src={greenTick} alt="Flag image" width="32px"/>
                                    </div>
                                </td>
                            </template>
                            <template if:false={resultRow.isCorrect}>
                                <td data-label="Result">
                                    <div class="slds-truncate" title="Flag">
                                        <img src={redCross} alt="Flag image" width="32px"/>
                                    </div>
                                </td>
                            </template>
                        </tr>
                    </tbody>
                </template>
            </table>
        </template>
    </template>

    <!-- <template if:true={resultArray}>
        <table class="slds-table">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Question #">Question #</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Flag">Flag</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Country">Country</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Correct Answer">Correct Answer</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Your Answer">Your Answer</div>
                    </th>
                    <th class="" scope="col">
                        <div class="slds-truncate" title="Result">Result</div>
                    </th>
                </tr>
            </thead>
            <template for:each={resultArray} for:item="resultRow">
                <tbody key={resultRow.country}>
                    <tr class="slds-hint-parent">
                        <td data-label="#">
                            <div class="slds-truncate" title="Question #">Question {resultRow.number}</div>
                        </td>
                        <td data-label="Flag">
                            <div class="slds-truncate" title="Flag">
                                <img src={resultRow.imageUrl} alt="Flag image" width="48px"/>
                            </div>
                        </td>
                        <td data-label="Country">
                            <div class="slds-truncate" title="Country">{resultRow.country}</div>
                        </td>
                        <td data-label="Correct Answer">
                            <div class="slds-truncate" title="Correct Answer">{resultRow.correctAnswer}</div>
                        </td>
                        <td data-label="Your Answer">
                            <div class="slds-truncate" title="Your Answer">{resultRow.userAnswer}</div>
                        </td>
                        <template if:true={resultRow.isCorrect}>
                            <td data-label="Result">
                                <div class="slds-truncate" title="Flag">
                                    <img src={greenTick} alt="Flag image" width="32px"/>
                                </div>
                            </td>
                        </template>
                        <template if:false={resultRow.isCorrect}>
                            <td data-label="Result">
                                <div class="slds-truncate" title="Flag">
                                    <img src={redCross} alt="Flag image" width="32px"/>
                                </div>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </template>
        </table>
    </template> -->


</template>