.game-board { 
    display: grid;
    grid-template-columns: 72px 72px 72px 72px 72px 72px 72px 72px;
    grid-template-rows: 72px 72px 72px 72px 72px 72px 72px 72px;
    justify-content: center;
    padding: 10px;
}

.game-board-mobile { 
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 30px 30px 30px 30px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px;
    justify-content: center;
    padding: 10px;
}

.grid-item {
    background-color: rgba(204, 204, 204, 0.8);
    border: 1px solid rgba(63, 63, 63, 0.904);
    /* padding: 20px; */
    /* font-size: 30px; */
    text-align: center;
}

h2 {
    font-size: 1.4em;
}

.rulesection {
    padding-bottom: 16px;;
}

.centeralign {
    text-align: center;
}

/* We use Animate Library: https://animate.style/ */

/* This only changes this particular animation duration */
.animate__animated.animate__heartBeat {
    --animate-duration: 3s;
}

/* This only changes this particular animation duration */
.animate__animated.animate__shakeY {
    --animate-duration: 3s;
}
