<template>
    
    <lightning-card>
        <template if:false={hasGameStarted}>
            <lightning-layout multiple-rows>
                <lightning-layout-item size="12" small-device-size="3" padding="around-small">                    
                    <lightning-button title="Play Othello" label="Play" onclick={startGameHandler}>
                    </lightning-button>
                </lightning-layout-item>
    
                <lightning-layout-item size="12" small-device-size="9" padding="around-small">
                    <h2>Setup</h2>
                    <div class="rulesection">
                        <p>The board will start with 2 black discs and 2 white discs at the centre of the board.</p>
                        <p>They are arranged with black forming a North-East to South-West direction.</p>
                        <p>White is forming a North-West to South-East direction.</p>
                    </div>
                    
                    <h2>Object of the Game</h2>
                    <div class="rulesection">
                        <p>The goal is to get the majority of colour discs on the board at the end of the game.</p>
                    </div>
                    
                    <h2>Game Play</h2>
                    <div class="rulesection">
                        <p>Othello is a strategy board game played between 2 players. One player plays black and the other white.</p>
                        <p>Each player gets 32 discs and black always starts the game.</p>
                        <p>Then the game alternates between black and white until:</p>
                        <ul class="slds-list_dotted">
                            <li>one player can not make a valid move to outflank the opponent</li>
                            <li>both players have no valid moves</li>
                        </ul>
                        <p>When a player has no valid moves, he pass his turn and the opponent continues.</p>
                        <p>A player can not voluntarily forfeit his turn.</p>
                        <p>When both players can not make a valid move the game ends.</p>
                    </div>
                    
                    <h2>Valid Moves</h2>
                    <div class="rulesection">
                        <p>Black always moves first.</p>
                        <p>A move is made by placing a disc of the player's color on the board in a position that "out-flanks" one or more of the opponent's discs.</p>
                        <p>A disc or row of discs is outflanked when it is surrounded at the ends by discs of the opposite color.</p>
                        <p>A disc may outflank any number of discs in one or more rows in any direction (horizontal, vertical, diagonal).</p>
                    </div>
                    
                    <h2>End of the Game</h2>
                    <div class="rulesection">
                        <p>When it is no longer possible for either player to move, the game is over.</p>
                        <p>The discs are now counted and the player with the majority of his or her color discs on the board is the winner.</p>
                        <p>A tie is possible.</p>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </template>
        

        <lightning-layout multiple-rows>
            <lightning-layout-item size="12" small-device-size="2" padding="around-small">
                <template if:true={hasGameStarted}>
                    <div>Your color: <span><img src={playerHuman.pieceUrl} alt="player color image" width="24px;"/></span></div>
                    <p>Score: {playerHuman.piecesCount}</p>
                </template>
            </lightning-layout-item>

            <lightning-layout-item size="12" small-device-size="8" padding="around-small">
                <div class="centeralign">
                    <template if:true={hasGameStarted}>
                        <template if:false={isAllMovesExhaustedForBoth}>
                            <template if:true={isItHumanPlayersTurn}>
                                <div>Your turn <span><img src={playerHuman.pieceUrl} alt="player color image" width="24px;"/></span></div>
                            </template>
                            
                            <template if:false={isItHumanPlayersTurn}>
                                <div>Computer's turn <span><img src={playerComputer.pieceUrl} alt="player color image" width="24px;"/></span></div>
                            </template>
                        </template>
                        <template if:false={isAllMovesExhaustedForBoth}>
                            <template if:false={playerComputer.canMove}>
                                {noPossibleMoveMsg} You
                            </template>
                            <template if:false={playerHuman.canMove}>
                                {noPossibleMoveMsg} Computer
                            </template>
                        </template>
                        <template if:true={isAllMovesExhaustedForBoth}>                 
                            <lightning-button title="Play Again" label="Play Again" onclick={playAgainHandler}>
                            </lightning-button>
                            <div>Game over</div>
                            <div>{winnerMsg}</div>
                        </template>
                    </template>
                </div>

                <template if:true={board}>
                    
                    <template if:true={isDesktop}>
                        <div class="game-board">
                            <template for:each={board} for:item="row">
    
                                <template key={row} for:each={row} for:item="index">
                                    <div key={index} data-id={index.id} class="grid-item" onclick={onPositionClickHandler}>
                                        <template if:true={index.imgUrl}>
                                            <img class="animate__animated animate__heartBeat" src={index.imgUrl} alt="Item image" />
                                        </template>
                                    </div>
                                </template>
    
                            </template>
                        </div>
                    </template>
                    <template if:false={isDesktop}>
                        <div class="game-board-mobile">
                            <template for:each={board} for:item="row">
    
                                <template key={row} for:each={row} for:item="index">
                                    <div key={index} data-id={index.id} class="grid-item" onclick={onPositionClickHandler}>
                                        <template if:true={index.imgUrl}>
                                            <img class="animate__animated animate__heartBeat" src={index.imgUrl} alt="Item image" />
                                        </template>
                                    </div>
                                </template>
    
                            </template>
                        </div>
                    </template>

                </template>
            </lightning-layout-item>

            <lightning-layout-item size="12" small-device-size="2" padding="around-small">
                <template if:true={hasGameStarted}>
                    <div>Computer color: <span><img src={playerComputer.pieceUrl} alt="player color image" width="24px;"/></span></div>
                    <p>Score: {playerComputer.piecesCount}</p>
                </template>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>

</template>