<template>
    <lightning-card>
        <lightning-layout multiple-rows>
           <lightning-layout-item size="12" 
                small-device-size="8"
                padding="around-small">
                <template if:true={horseImage1}>            
                    <img src={horseImage1} alt="Item image" 
                        width="200px" style="padding: 8px; min-width: 200px;" 
                        draggable="true"
                        ontouchstart={handleOnTouchStart} 
                        ontouchmove={handleOnTouchMove}
                        ontouchend={handleOnTouchEnd}
                        onchange={change}
                        ondragstart={dragStart} 
                        ondragover={dragOver} 
                        ondrop={drop} />
                </template>
                <template if:true={horseImage2}>            
                    <img src={horseImage2} alt="Item image" 
                        width="200px" style="padding: 8px; min-width: 200px;" 
                        draggable="true"
                        ontouchstart={handleOnTouchStart} 
                        ontouchmove={handleOnTouchMove}
                        ontouchend={handleOnTouchEnd}
                        onchange={change}
                        ondragstart={dragStart} 
                        ondragover={dragOver} 
                        ondrop={drop} />
                </template>
                <template if:true={horseImage3}>            
                    <img src={horseImage3} alt="Item image" 
                        width="200px" style="padding: 8px; min-width: 200px;" 
                        draggable="true"
                        ontouchstart={handleOnTouchStart} 
                        ontouchmove={handleOnTouchMove}
                        ontouchend={handleOnTouchEnd}
                        onchange={change}
                        ondragstart={dragStart} 
                        ondragover={dragOver} 
                        ondrop={drop} />
                </template>
            </lightning-layout-item>
            <lightning-layout-item size="12"
                small-device-size="4"
                padding="around-small">
                <p>drag image here</p>
            </lightning-layout-item>
        </lightning-layout>
      </lightning-card>
</template>