<template>
    <lightning-card title="">
        <template if:true={listOfPlayOrderAndUserOrderImgUrls}>
            <table class="slds-table slds-max-medium-table_stacked">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th class="slds-size_1-of-3" scope="col">
                            <div class="slds-truncate" title="Correct Order">Correct Order</div>
                        </th>
                        <th class="slds-size_1-of-3" scope="col">
                            <div class="slds-truncate" title="Your Order">Your Order</div>
                        </th>
                        <th class="slds-size_1-of-3" scope="col">
                            <div class="slds-truncate" title="Result">Result</div>
                        </th>
                    </tr>
                </thead>
                <template for:each={listOfPlayOrderAndUserOrderImgUrls} for:item="comboItem">
                    <tbody key={comboItem.correctItemUrl}>
                        <tr class="slds-hint-parent">
                            <td data-label="Correct Order">
                                <div class="slds-truncate" title="Your Order">
                                    <img src={comboItem.correctItemUrl} alt="item image" width="64px"/>
                                </div>
                            </td>
                            <td data-label="Your Order">
                                <div class="slds-truncate" title="Your Order">
                                    <img src={comboItem.userOrderedItemUrl} alt="item image" width="64px"/>
                                </div>
                            </td>
                            <td data-label="Result">
                                <div class="slds-truncate" title="Your Order">
                                    <img src={comboItem.resultIcon} alt="item image" width="32px"/>
                                </div>
                            </td>
                            <!-- <template if:true={resultRow.isCorrect}>
                                <td data-label="Result">
                                    <div class="slds-truncate" title="Flag">
                                        <img src={greenTick} alt="Flag image" width="32px"/>
                                    </div>
                                </td>
                            </template>
                            <template if:false={resultRow.isCorrect}>
                                <td data-label="Result">
                                    <div class="slds-truncate" title="Flag">
                                        <img src={redCross} alt="Flag image" width="32px"/>
                                    </div>
                                </td>
                            </template> -->
                        </tr>
                    </tbody>
                </template>
            </table>

            <!-- <div class="slds-grid slds-gutters">
                <template for:each={listOfPlayOrderAndUserOrderImgUrls} for:item="comboItem">
                    <div key={comboItem.correctItemUrl} class="slds-col">
                        <img src={comboItem.correctItemUrl} alt="Item image" width="50px" />
                    </div>
                    <div key={comboItem.correctItemUrl} class="slds-col">
                        <img src={comboItem.userOrderedItemUrl} alt="Item image" width="50px" />
                    </div>
                    <div key={comboItem.correctItemUrl} class="slds-col">
                        tick or cross
                    </div>
                </template>
            </div> -->

        </template>        
    </lightning-card>    
</template>