.halfwidth {
    margin: auto;
    width: 50%;
}

.shade {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectedanswer {
    background:rgb(144, 211, 231);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }