<template>

    <div class="slds-m-bottom_x-large ">
        <img src={questionObject.imageUrl} alt="Flag image" class="shade" />
    </div>

    <div class="halfwidth">
        <template if:true={questionObject}>
            <template for:each={questionObject.shuffledAnswers} for:item="answer">
                <div key={answer} data-id={answer} onclick={handleAnswerClick}
                    class="questionanswer grow slds-box slds-box_xx-small slds-m-left_x-large slds-m-right_x-large slds-m-bottom_small slds-m-top_small">
                    {answer}
                </div>
            </template>
        </template>
    </div>

</template>