<template>
    
    <lightning-card title="">

        <template if:false={isQuizStarted}>
            <div class="slds-var-m-around_medium centeralign">
                <h1>Welcome to the Flag Quiz</h1>
                <br/>
                <p>You can play by Country or by City.</p>
                <br/>
                <p>Play by Country:</p>
                <p>You will be shown a country flag and 4 countries.</p>
                <br/>
                <p>Play by City:</p>
                <p>You will be shown a country flag and 4 cities.</p>
                <p>You must select the city which belongs to the same country that the flag represents.</p>                
                <br/>
                <br/>
                <p>Click a button to start the game.</p>
            </div>
            
            <div class="slds-var-m-around_medium centeralign">
                <lightning-button-group>
                    <lightning-button 
                        title="Start flag by Country quiz button"
                        label="Play by Country" 
                        onclick={startQuizByCountryHandler}>
                    </lightning-button>
                    <lightning-button 
                        title="Start flag quiz by City button"
                        label="Play by City" 
                        onclick={startQuizByCityHandler}>
                    </lightning-button>
                </lightning-button-group>
            </div>
        </template>
        
        <template if:true={isQuizStarted}>
            <template if:true={shouldQuestionBeShown}>
                <div class="slds-var-m-around_medium centeralign">
                    <h2>Question {questionCountOnGUI} of {numberOfQuestionsPerGame}</h2>
                </div>
                <div class="slds-var-m-around_medium centeralign">
                    <c-flag-quiz-question 
                        question-object={currentQuestionObject}
                        onscoreupdate={handleScoreUpdate} 
                        onanswerisclicked={handleAnswerWasClicked} 
                        onresultrowaddition={handleResultRowAddition}>
                    </c-flag-quiz-question>
                </div>
                <template if:true={isAnswerSelected}>
                    <div class="slds-var-m-around_medium centeralign">
                        <lightning-button 
                            title="Next Question button" 
                            variant="brand" 
                            label={labelNextButton} 
                            class="slds-var-m-around_small" 
                            onclick={nextQuestionHandler}>
                        </lightning-button>
                    </div>
                </template>
            </template>
            <template if:true={shouldResultShow}>
                <div class="slds-var-m-around_medium centeralign">
                    <h2>You got {correctAnswersCount} correct of {numberOfQuestionsPerGame} questions</h2>
                </div>
                <template if:true={resultMatrix}>
                    <div class="slds-var-m-around_medium">
                        <c-flag-quiz-result-table result-array={resultMatrix} is-country-mode={isPlayModeByCountry}></c-flag-quiz-result-table>
                    </div>
                </template>
                
                <div class="centeralign">
                    <lightning-button-group>
                        <lightning-button
                            title="Go to Welcome Page" 
                            label="Go to Welcome Page"
                            onclick={doneHandler}>
                        </lightning-button>
                        <lightning-button 
                            title="Play Again" 
                            label="Play Again"
                            onclick={playAgainHandler}>
                        </lightning-button>
                    </lightning-button-group>
                </div>
            </template>
        </template>
        
    </lightning-card>

    
</template>