<template>
    <div class="slds-var-m-around_medium">

        <!-- <template if:true={itemsList}>
            Correct order
            <template for:each={itemsList} for:item="gameItem">
                <div key={gameItem.Id} class="slds-box slds-box_xx-small">
                    <img src={gameItem.imageUrl} alt="Item image" width="50px" />
                </div>
            </template>
        </template> -->

        <lightning-card>
            <lightning-layout multiple-rows>
                <lightning-layout-item size="12" small-device-size="7" padding="around-small">
                    <div class="slds-col slds-size_1-of-2 slds-var-m-right_xx-large">
                        <div>
                            <p>Now you see the images displayed in random order.</p>
                            <br />
                            <p>Order the images in the order they were displayed to you, top to bottom, by dragging the images
                                up or down.
                            </p>
                            <br />
                            <p>When you are happy with the order press Submit.</p>
                        </div>
                        <br />
                        <br />
                        <lightning-button title="Submit Solve Order" label="Submit" onclick={submitHandler}></lightning-button>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="12" small-device-size="5" padding="around-small">
                    <div class="slds-col slds-size_1-of-2 slds-var-m-left_xx-large">
                        <div class="container">
                            <template for:each={itemImgURLsList} for:item="gameItem">
                                <tr key={gameItem.Id}>
                                    <th key={gameItem}>
                                        <img class="gameItems" key={gameItem.Id} src={gameItem} alt="Item image" 
                                            width="130px" style="padding: 8px; min-width: 130px;" 
                                            draggable="true"
                                            onchange={change}
                                            ondragstart={dragStart} 
                                            ondragover={dragOver} 
                                            ondrop={drop} />
                                    </th>
                                </tr>
                            </template>
                        </div>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-card>




        <!-- <div class="slds-grid slds-gutters slds-var-m-around_medium">
            <div class="slds-col slds-size_1-of-2 slds-var-m-right_xx-large">
                <div>
                    <p>Now you see the images displayed in random order.</p>
                    <br />
                    <p>Order the images in the order they were displayed to you, top to bottom, by dragging the images
                        up or down.
                    </p>
                    <br />
                    <p>When you are happy with the order press Submit.</p>
                </div>
                <br />
                <br />
                <lightning-button title="Submit Solve Order" label="Submit" onclick={submitHandler}></lightning-button>
            </div>
            <div class="slds-col slds-size_1-of-2 slds-var-m-left_xx-large">
                <div class="container">
                    <template for:each={itemImgURLsList} for:item="gameItem">
                        <tr key={gameItem.Id}>
                            <th key={gameItem}>
                                <img class="gameItems" key={gameItem.Id} onchange={change} draggable="true"
                                    ondrop={drop} ondragstart={dragStart} ondragover={dragOver} src={gameItem}
                                    alt="Item image" width="130px" style="padding: 8px; min-width: 130px;" />
                            </th>
                        </tr>
                    </template>
                </div>
            </div>

        </div> -->

        <!-- this could be used for horizontal display -->
        <!-- <div class="container" >
            <template for:each={itemImgURLsList} for:item="gameItem">
                <img class="gameItems" key={gameItem.Id}
                    onchange={change}
                    draggable="true" 
                    ondrop={drop}
                    ondragstart={dragStart}
                    ondragover={dragOver} 
                    src={gameItem} alt="Item image" width="150px" style="padding: 8px; min-width: 150px;"/>
            </template>
        </div> -->


    </div>
</template>