h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

.centeralign {
    text-align: center;
}

.verticalspace {
    padding-bottom: 100%;
}

.exampleHolder {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}