<template>
    <lightning-card title="" >
        
        <!-- <h1 class="centeralign" style="color: red;">ERR2</h1> -->
        
        <template if:false={hasGameStarted}>
            <template if:true={isDesktop}>
                <div class="slds-var-m-around_medium centeralign">
                    <h1>Total Recall</h1>
                    <br/>
                    <p>You will be shown different images in a specific order.</p>
                    <br/>
                    <p>You must remember the order of the images.</p>
                    <br/>
                    <p>Once all the images have been shown, you must place them in the order they were shown.</p>             
                    <br/>
                    <br/>
                    <p>Click one of the Play buttons to start the game.</p>
                    <br/>
                    <br/>
                </div>
                
                <div class="slds-var-m-around_medium centeralign">
                    <lightning-button class="slds-p-around_xxx-small"
                        title="Start Total Recall game button"
                        label="Play 3 Images" 
                        data-number="3"
                        onclick={buttonOptionHandler}>
                    </lightning-button>
                    <lightning-button class="slds-p-around_xxx-small" 
                        title="Start Total Recall game button"
                        label="Play 5 Images"  
                        data-number="5"
                        onclick={buttonOptionHandler}>
                    </lightning-button>
                    <lightning-button class="slds-p-around_xxx-small" 
                        title="Start Total Recall game button"
                        label="Play 8 Images"  
                        data-number="8"
                        onclick={buttonOptionHandler}>
                    </lightning-button>
                    <lightning-button class="slds-p-around_xxx-small" 
                        title="Start Total Recall game button"
                        label="Play 10 Images"  
                        data-number="10"
                        onclick={buttonOptionHandler}>
                    </lightning-button>
                    <lightning-button class="slds-p-around_xxx-small" 
                        title="Start Total Recall game button"
                        label="Play 12 Images"  
                        data-number="12"
                        onclick={buttonOptionHandler}>
                    </lightning-button>
                </div>
            </template>
            <template if:false={isDesktop}>
                <div class="slds-var-m-around_medium centeralign">
                    Total Recall is not available for mobile devices
                </div>
            </template>
        </template>

        <template if:true={displayReadyPlay}>
            <div class="slds-var-m-around_medium slds-var-m-top_xx-large centeralign">
                <h1>Get Ready for the Images!</h1>
                <br/>
                <br/>
                <div class="exampleHolder">
                    <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
                </div>
            </div>
        </template>

        <div class="slds-var-m-around_medium centeralign">
            <c-total-recall-item item={currentItem}></c-total-recall-item>
        </div>

        <template if:true={showSolveOrder}>
            <div class="slds-var-m-around_medium">
                <c-total-recall-solve-order 
                    items-list={itemsList} 
                    number-of-items={itemsPerGame}
                    onsubmitorder={handleOnSubmitOrder}>
                </c-total-recall-solve-order>
            </div>
        </template>

        <template if:true={showResult}>
            <c-total-recall-result list-of-play-order-and-user-order-img-urls={correctOrderAndUserSortedOrderList}></c-total-recall-result>
        </template>
        
        <template if:true={showResult}>
            <div class="slds-var-m-around_medium centeralign">
                <p>To play again click Play Again.</p>
                <br/>
                <p>To go to menu click the Total Recall tab.</p>
                <br/>
                <br/>
                <lightning-button 
                    title="Play Again" 
                    label="Play Again"
                    onclick={playAgainHandler}>
                </lightning-button>
            </div>
        </template>

    </lightning-card>
</template>